# SPDX-FileCopyrightText: Copyright (c) Meta Platforms, Inc. and affiliates.
# SPDX-FileCopyrightText: © 2024 Rivos Inc.
#
# SPDX-License-Identifier: Apache-2.0

# Ignore Python generated artifacts
*.pyc
__pycache__/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
# Ignore VSC config directory
/.vscode
# Ignore venv
.venv/*
# Ignore .DS_Store
*.DS_Store
